extends layout

block content
  nav.nav-collapse
    ul
      li.action-item
        a(href='#') 首 页
      li.action-item
        a(href='#') 花 艺
      li.action-item
        a(href='#') 婚礼定制
      li.action-item
        a(href='#') 家 居
      li.action-item
        a(href='#') 植物学家爸比
      li.action-item
        a(href='#') 会 员/注 册

  div.ad
    img(class='thumb-image' src='/images/hero_plant.jpg')
  div.ad
    img(class='thumb-image' src='/images/wedding.jpg')