doctype html
head
  title= '植物学家的女儿'
  meta(name="viewport", content="width=device-width,initial-scale=1")
  link(rel='stylesheet', href='/stylesheets/vendor/responsive-nav.css')
  link(rel='stylesheet', href='/stylesheets/style.css', media='screen and (min-device-width: 481px)')
  link(rel='stylesheet', href='/stylesheets/mobile.css', media='screen and (max-device-width: 480px)')

html
  body
    div.wrapper
      block content

    script(src='/javascripts/vendor/responsive-nav.min.js')
    script(src='/javascripts/mobile.js')