doctype html
head
  title= '植物学家的女儿'
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  link(href='/vendor/stylesheets/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet', href='/vendor/stylesheets/responsive-nav.css')
  link(rel='stylesheet', href='/assets/css/main.min.css')
  //link(rel='stylesheet', href='/stylesheets/style.css', media='screen and (min-device-width: 781px)')
  //link(rel='stylesheet', href='/stylesheets/mobile.css', media='screen and (max-device-width: 780px)')

html
  body
    div.wrapper
      div.logo
        img(class='thumb-image' src='/images/hero_plant.jpg')
      nav#mobile-nav.nav-collapse
        ul
          li.action-item
            a(href='/') 首 页
          li.action-item
            a(href='#') 花 艺
          li.action-item
            a(href='#') 婚礼定制
          li.action-item
            a(href='#') 家 居
          li.action-item
            a(href='#') 植物学家爸比
          li.action-item
            a(href='/login') 会 员/注 册
      nav.desktop-nav
        ul
          li.action-item.first-item
            a(href='/') 首 页
          li.action-item
            a(href='#') 花 艺
          li.action-item
            a(href='#') 婚礼定制
          li.action-item
            a(href='#') 家 居
          li.action-item
            a(href='#') 植物学家爸比
          li.action-item
            a(href='/login') 会 员/注 册
      div.clearfix
      div.logo.mobile
        img(class='thumb-image' src='/images/hero_plant.jpg')

      block content

    script(src='/vendor/javascripts/responsive-nav.min.js')
    script(src='/assets/js/main.min.js')
    block script