extends layout

block content
  .row
    form( method="post")#signup-form.well
      h1 欢迎访问植物学家的女儿
      p.subheading 注册 (<span class="red-star">*</span>)为必填项
      .form-group
        label 姓名<span class="red-star">*</span>
        input(type="text", name="fullname", id='fullname', placeholder='怎么称呼您呢?').form-control.required
        p.help-block.error-message.error-name-required 请输入姓名.
      .form-group
        label 称谓
        select(name="suffix", id='suffix').form-control.required
          option(value="先生") 先生
          option(value="女士") 女士
          option(value="小姐") 小姐
      .form-group
        label 手机号<span class="red-star">*</span>
        input(type="text", name="username", id='username', placeholder='将使用手机号作为用户名登陆').form-control.required
        p.help-block.error-message.error-phone-required 请输入手机号.
      .form-group
        label 密码<span class="red-star">*</span>
        input(type="password", name="password", id='password', placeholder='密码至少6位长').form-control.required
        p.help-block.error-message.error-password-length 密码至少6位长.
      .form-group
        label 重复密码<span class="red-star">*</span>
        input(type="password", name="password-repeat", id='password-repeat', placeholder='重复密码').form-control.required
        p.help-block.error-message.error-password-match 两次密码不相同.

      button(type="submit")#btn-signup.btn.btn-primary
        i.icon-lock.icon-white
        | 提交

